@media screen and (min-width: 1455px) and (max-width: 1591px) {
  .container {
    margin-left: 45px;
    margin-bottom: 200px;
    margin-top: 200px;
  }
  h3 {
    font-size: 40px;
    color: #cd202e;
  }
  /* ============================ */
  /* first part starts here */
  /* =============================*/
  .market {
    /*! margin-top: 460px; */
    display: flex;
    align-items: center;
    padding: 0;
    gap: 50px;
    max-height: 400px;
    background: #cd202e;
  }

  .meeting-image {
    background-image: url("../images/cover.png");
    border-radius: 35px;
    width: 200%;
    height: 515px;
    margin-left: 60px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .details {
    position: relative;
    margin-right: 60px;
    margin-top: 4px;
  }

  .details h3 {
    position: absolute;
    top: -100px;
  }
  .details p {
    font-size: 20px;
    color: white;
    margin-bottom: 15px;
    word-spacing: 1.5px;
  }
  /* ============================ */
  /* first part ends here */
  /* =============================*/

  /* ============================ */
  /* market role part starts here */
  /* =============================*/
  .market-role {
    margin-top: 167px;
  }
  .market-role h3 {
    text-align: center;
  }

  /* ============================ */
  /*  SECOND & FOURTH part starts here */
  /* ============================ */
  .second-fourth {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 61px;
    background-color: #cd202e;
    border-radius: 15px;
    height: 300px;
    width: 1180px;
    position: relative;
  }
  .second-fourth-texts {
    margin-left: 54px;
    margin-right: 200px;
  }
  .second-fourth-texts h4 {
    text-align: right;
    font-size: 35px;
    color: white;

    margin-top: 30px;
  }
  .second-fourth-texts p {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 50px;
    word-spacing: 2.5px;
  }
  .second-fourth img {
    width: 330px;
    height: 330px;
    position: absolute;
    right: -162px;
  }

  /* ============================ */
  /* THIRD & FIFTH part starts here */
  /* ============================ */
  .third-fifth {
    display: flex;
    align-items: center;
    margin-left: 190px;
    margin-top: 105px;
    background-color: #cd202e;
    border-radius: 15px;
    height: 300px;
    width: 1180px;
    position: relative;
  }
  .third-fifth-texts {
    margin-left: 235px;
    margin-right: 54px;
  }
  .third-fifth-texts h4 {
    text-align: left;
    font-size: 35px;
    color: white;

    margin-top: 35px;
  }
  .third-fifth-texts p {
    font-size: 20px;
    color: white;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 50px;
    word-spacing: 2.5px;
  }
  .third-fifth img {
    width: 369px;
    height: 369px;
    position: absolute;
    left: -162px;
  }

  /* ============================ */
  /* additional styles starts here */
  /* ============================ */

  .fourth-banner {
    margin-top: 104px !important;
  }
  .fourth-banner img {
    content: url("../images/market-executive.png") !important;
    right: -180px !important;
  }
  .fifth-banner img {
    content: url("../images/marketing-manager.png") !important;
    right: -180px !important;
  }
  .executive-details {
    margin-bottom: 23px !important;
  }

  .market-manager-text {
    margin-bottom: 26px !important;
  }
}

@media screen and (min-width: 1211px) and (max-width: 1454px) {
  .container {
    margin-left: 45px;
    margin-bottom: 200px;
    margin-top: 200px;
  }
  h3 {
    font-size: 40px;
    color: #cd202e;
  }
  /* ============================ */
  /* first part starts here */
  /* =============================*/
  .market {
    /*! margin-top: 460px; */
    display: flex;
    align-items: center;
    padding: 0;
    gap: 25px;
    max-height: 300px;
    background: #cd202e;
  }

  .meeting-image {
    background-image: url("../images/cover.png");
    border-radius: 35px;
    width: 200%;
    height: 399px;
    margin-left: 60px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .details {
    position: relative;
    margin-right: 60px;
    margin-top: 4px;
  }

  .details h3 {
    position: absolute;
    top: -80px;
  }
  .details p {
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
    word-spacing: 1.5px;
  }
  /* ============================ */
  /* first part ends here */
  /* =============================*/

  /* ============================ */
  /* market role part starts here */
  /* =============================*/
  .market-role {
    margin-top: 100px;
  }
  .market-role h3 {
    text-align: center;
  }

  /* ============================ */
  /*  SECOND & FOURTH part starts here */
  /* ============================ */
  .second-fourth {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 61px;
    background-color: #cd202e;
    border-radius: 15px;
    height: 250px;
    width: 965px;
    position: relative;
  }
  .second-fourth-texts {
    margin-left: 54px;
    margin-right: 200px;
  }
  .second-fourth-texts h4 {
    text-align: right;
    font-size: 30px;
    color: white;
    margin-top: 50px;
  }
  .second-fourth-texts p {
    font-size: 17px;
    color: white;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 50px;
    word-spacing: 2.5px;
  }
  .second-fourth img {
    width: 310px;
    height: 310px;
    position: absolute;
    right: -120px;
  }

  /* ============================ */
  /* THIRD & FIFTH part starts here */
  /* ============================ */
  .third-fifth {
    display: flex;
    align-items: center;
    margin-left: 164px;
    margin-top: 105px;
    background-color: #cd202e;
    border-radius: 15px;
    height: 250px;
    width: 965px;
    position: relative;
  }
  .third-fifth-texts {
    margin-left: 200px;
    margin-right: 54px;
  }
  .third-fifth-texts h4 {
    text-align: left;
    font-size: 30px;
    color: white;
    margin-top: 35px;
  }
  .third-fifth-texts p {
    font-size: 15px;
    color: white;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 50px;
    word-spacing: 2.5px;
  }
  .third-fifth img {
    width: 310px;
    height: 310px;
    position: absolute;
    left: -148px;
  }

  /* ============================ */
  /* additional styles starts here */
  /* ============================ */

  .fourth-banner {
    margin-top: 104px !important;
  }
  .fourth-banner img {
    content: url("../images/market-executive.png") !important;
    right: -120px !important;
  }
  .fifth-banner img {
    content: url("../images/marketing-manager.png") !important;
    right: -180px !important;
  }
  .executive-details {
    margin-bottom: 23px !important;
  }

  .market-manager-text {
    margin-bottom: 26px !important;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1210px) {
  .container {
    margin-left: 45px;
    margin-bottom: 200px;
    margin-top: 200px;
  }
  h3 {
    font-size: 35px;
    color: #cd202e;
  }
  /* ============================ */
  /* first part starts here */
  /* =============================*/
  .market {
    /*! margin-top: 460px; */
    display: flex;
    align-items: center;
    padding: 0;
    gap: 25px;
    max-height: 400px;
    background: #cd202e;
  }

  .meeting-image {
    background-image: url("../images/cover.png");
    border-radius: 35px;
    width: 255%;
    height: 515px;
    margin-left: 40px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .details {
    position: relative;
    margin-right: 30px;
    margin-top: 4px;
  }

  .details h3 {
    position: absolute;
    top: -88px;
  }
  .details p {
    font-size: 17px;
    color: white;
    margin-bottom: 15px;
    word-spacing: 1.5px;
  }
  /* ============================ */
  /* first part ends here */
  /* =============================*/

  /* ============================ */
  /* market role part starts here */
  /* =============================*/
  .market-role {
    margin-top: 167px;
  }
  .market-role h3 {
    text-align: center;
  }

  /* ============================ */
  /*  SECOND & FOURTH part starts here */
  /* ============================ */
  .second-fourth {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 61px;
    background-color: #cd202e;
    border-radius: 15px;
    height: 250px;
    width: 830px;
    position: relative;
  }
  .second-fourth-texts {
    margin-left: 20px;
    margin-right: 200px;
  }
  .second-fourth-texts h4 {
    text-align: right;
    font-size: 27px;
    color: white;
    margin-top: 50px;
  }
  .second-fourth-texts p {
    font-size: 15px;
    color: white;
    margin-top: 15px;
    text-align: right;
    margin-bottom: 50px;
    word-spacing: 2.5px;
  }
  .second-fourth img {
    width: 285px;
    height: 290px;
    position: absolute;
    right: -100px;
  }

  /* ============================ */
  /* THIRD & FIFTH part starts here */
  /* ============================ */
  .third-fifth {
    display: flex;
    align-items: center;
    margin-left: 140px;
    margin-top: 105px;
    background-color: #cd202e;
    border-radius: 15px;
    height: 250px;
    width: 830px;
    position: relative;
  }
  .third-fifth-texts {
    margin-left: 200px;
    margin-right: 20px;
  }
  .third-fifth-texts h4 {
    text-align: left;
    font-size: 27px;
    color: white;
    margin-top: 35px;
  }
  .third-fifth-texts p {
    font-size: 15px;
    color: white;
    margin-top: 15px;
    text-align: left;
    margin-bottom: 50px;
    word-spacing: 2.5px;
  }
  .third-fifth img {
    width: 285px;
    height: 290px;
    position: absolute;
    left: -100px;
  }

  /* ============================ */
  /* additional styles starts here */
  /* ============================ */

  .fourth-banner {
    margin-top: 104px !important;
  }
  .fourth-banner img {
    content: url("../images/market-executive.png") !important;
    right: -100px !important;
  }
  .fifth-banner img {
    content: url("../images/marketing-manager.png") !important;
    right: -180px !important;
  }
  .executive-details {
    margin-bottom: 23px !important;
  }

  .market-manager-text {
    margin-bottom: 26px !important;
  }
}
